.card {
   position: relative;

   &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($secondary-color, 0.6);
      opacity: 0;
      z-index: 1;
      text-align: center;
      @include css-transition($lazy-transition);
   }

   button {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -30px;
      margin-top: -20px;
      height: 40px;
      width: 70px;
      @include css-transition($short-transition);
      border-radius: 20px;
   }

   &:hover & {
      &__overlay {
         opacity: 1;
      }
   }
}
