a{
   .card {
      position: relative;
      background-color: $secondary-color;
      border: solid 3px $secondary-color;
      border-radius: 3px;
      opacity: 1;
      margin-bottom: 30px;
      .card__overlay {
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         background-color: rgba($secondary-color, 0);
         opacity: 1;
         z-index: 1;
         text-align: center;
         button {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -26px;
            margin-top: -52px;
            height: 52px;
            width: 52px;
            font-family: "Icons";
            background-color: $secondary-color;
            color: $primary-color;
            font-weight: 600;
            border-radius: 26px;
            &:hover{
               background-color: $secondary-color;
               color: $primary-color;
            }
            &:active{
               background-color: $secondary-color;
               color: $primary-color;
            }
            &.fi-eye::before{
               font-size: 26px;
               position: absolute;
               top: 13px;
               left: 13px;
            }
         }
      }
      img{
         background-position: center;
      }
      h5{
         padding: 0 15px;
         margin: 15px 0;
         position: relative;
         z-index: 999;
      }
   }
}

@include breakpoint(large up) {
   a{
      .card {

         .card__overlay {
            opacity: 0;
            background-color: rgba($secondary-color, 0.6);
            @include css-transition($slow-transition);
            &:hover{
               opacity: 1;
            }
            button {
               @include css-transition($short-transition);
               &:hover{
                  background-color: $secondary-color;
                  color: $primary-color;
               }
            }
         }
      }
   }
}
