//NAV
nav{
   position: absolute;
   top: 70px;
   right: 0;
   width: 100%;
   min-height: calc(100vh - 70px);
   background-color: $primary-color;
   &.noScroll{
      position: fixed;
      overflow-y: hidden;
   }
   #g1, #g3{
      background-color: darken($white, 10%);
   }
   &#g2{
      background-color: darken($white, 5%);
   }

   >div>div{
      h2{
         font-weight: 500;
         margin: 15px 0;
      }
   }
}

@include breakpoint(large up) {
   //NAV
   nav{
      height: inherit;
      >div{
         padding: 30px 30px 30px 45px;
         >div{
            a{
               >div>div{
                  b{
                     padding-left: 30px;
                     padding-right: 30px;
                  }
               }
            }
         }
      }
      &.navContent{
         left: 0;
         &.slideRight{
            left: 100%;
         }
      }
   }
}
